<!DOCTYPE html>
<html lang="en">
  <%- include("header"); %>
  <body>
    <%- include("menu"); %>
    <!-- Jumbotron -->
    <div class="jumbotron p-0">
      <!-- Card image -->
      <br>
      <br>
      <br>
      <br>
      <div class="view overlay rounded-top">
        <img
          src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F26053538586482B414"
          style="display: block; margin: 0 auto;"
        />
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body text-center mb-3">
        <!-- Title -->
        <h3 class="card-title h3 my-4"><strong> Petition_Program </strong></h3>
        <!-- Text -->
        <p class="card-text py-2">
          만든이 : 3520 이동준
        </p>
        <!-- Button -->
        <a href="/api/pettition/" class="btn blue-gradient btn-rounded mb-3">청원하러가기</a>
      </div>
    </div>
    
    <%- include("footer"); %>
  </body>
</html>
